
.form-group{
    display: block;
    width: 80%;
    margin: 0 auto 10px;
    text-align: left;
}
.form-group *{
  box-sizing: border-box;
}
.form-group > label{
  display: inline-block;
  min-width: 20%;
}
.form-group > input{
  display: inline-block;
  width: 80%;
}
.form-group > textarea{
  width: 100%;
  resize: none;
}
#content{
  height: 20em;
}
#notes{
  height: 5em;
}
.button-group{
  display: flex;
  justify-content: center;
}