.login-form{
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 150px;
    background-color: white;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
  }
  .input-group{
    text-align: right;
    display: block;
    padding: 0 50px 20px;
  }