.register-form{
    position: absolute;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 150px;
    background-color: white;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
  }
  .x{
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: black;
  }
  .input-group{
    text-align: right;
    display: block;
    padding: 0 30px 20px;
  }
  .link{
    position: relative;
    top: 5px;
  }

  @media screen and (max-width: 600px) {    
    .register-form{
      width: 200px;
      margin-top: 100px;
    }
    .input-group{
      padding: 0 0 10px;
      text-align: left;
    }
  }